* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

html {
    max-width: 63rem;
    height: 100vh;
    background-color: #f5f8fa;
}

header {
    position: fixed;
    max-width: 63rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    gap: 4rem;
    background-color: #f5f8fa;
    padding: 2rem;
}

main {
    margin-top: 20rem;
}

.post {
    background-color: #fff;
    border-radius: 2rem;
    margin: 2rem;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    gap: 2rem;
    align-items: center;
    box-sizing: border-box;
    border: none;
}
.text-bttn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.avatar {
    border-radius: 50%;
}

#field-text {
    width: 40rem;
    height: 9rem;
    font-size: 2rem;
}

#bttn-post {
    background-color: #2c7cbebe;
    color: #fff;

    padding: 1rem;
    width: 8rem;
    border-radius: 0.6rem;
}

#bttn-post:hover {
    cursor: pointer;
    background-color: #2c7dbe;
}

p {
    text-align: justify;
    font-size: 2rem;

    border: 1px solid #f5f8fa;
    background-color: #f5f8fa;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 2rem;

    margin-left: 10rem;
    margin-bottom: 2rem;
}

.cat-image {
    width: 100%;
    border-radius: 1rem;
}

.like-button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #e0245e;

    margin-top: 2rem;

    color: #fff;

    cursor: pointer;
}

.coracao {
    width: 25px;
    height: 25px;
}

span {
    font-size: 1.6rem;
    font-weight: 700;
    color: #162b3bbe;
    margin-left: 1rem;
}

footer {
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    background-color: #2c7cbebe;
}

@media (min-width: 700px) {
    html {
        max-width: 140rem;
    }
    header {
        max-width: 140rem;
    }
}